body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
.card {
  max-width: 85em;
  width: 100%;
  padding: 2em 1em;
}
.cardImage {
  width: 20em;
  height: 22em;
}
.title {
  display: flex;
  justify-content: center;
  color: #282828;
  margin-right: 45px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 16px;
}
