.cardSale {
  display: flex;
  flex-direction: column;
}
.imgWrap {
  position: relative;
  width: 20em;
  height: 26.4em;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid #dddddd;
}
.imgSale {
  width: 100%;
  height: 17.8em;
  object-fit: cover;
  display: block;
}
.addBtn {
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: 12px;

  padding: 12px;
  border: none;
  border-radius: 4px;

  background: #0d50ff;
  color: white;

  opacity: 0;
  transform: translateY(10px);
  transition: 0.2s;
  cursor: pointer;
}

.imgWrap:hover .addBtn {
  opacity: 1;
  transform: translateY(0);
}
.imgWrap:active .addBtn {
  background-color: black;
}
.badge {
  position: absolute;
  top: 12px;
  left: 12px;

  background: #ff3b30;
  color: white;
  padding: 6px 10px;
  border-radius: 999px;
  font-size: 14px;
}

.info {
  margin: 1.25em 2em;
}

.saleTitle {
  margin: 0 0 8px;
  font-size: 16px;
  line-height: 1.2;
}

.priceRow {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-size: 40px;
  font-weight: 600;
}

.oldPrice {
  font-size: 20px;
  opacity: 0.6;
  text-decoration: line-through;
  font-weight: 500;
  color: #8b8b8b;
}
