.sale {
  max-width: 85em;
  width: 100%;
  margin: 0 2.5em;
  padding: 2em 1em;
  display: flex;
  align-items: center;
  gap: 16px;
}
.sale h2 {
  font-size: 64px;
  font-weight: 700;
}
.gridSale {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 85em;
  margin: 0 2.5em;
}
.line {
  width: 16em;
  flex: 1;
  height: 1px;
  background-color: #dddddd;
  margin-right: -15px;
}
.btnSale {
  width: 8.9em;
  height: 2.25em;
  color: #8b8b8b;
  border: 1px solid #dddddd;
  background: transparent;
}
